In [41]:
import numpy as np  
import pandas as pd

In [42]:
train = pd.read_csv("train.txt")

In [43]:
train.to_csv("train.csv")

In [44]:
test = pd.read_csv("test.txt")

In [45]:
test.to_csv("test.csv")

In [46]:
train.head()

,Item_Identifier,Item_Weight,Item_Fat_Content,Item_Visibility,Item_Type,Item_MRP,Outlet_Identifier,Outlet_Establishment_Year,Outlet_Size,Outlet_Location_Type,Outlet_Type,Item_Outlet_Sales
0,FDA15,9.30,Low Fat,0.016047,Dairy,249.8092,OUT049,1999,Medium,Tier 1,Supermarket Type1,3735.1380
1,DRC01,5.92,Regular,0.019278,Soft Drinks,48.2692,OUT018,2009,Medium,Tier 3,Supermarket Type2,443.4228
2,FDN15,17.50,Low Fat,0.016760,Meat,141.6180,OUT049,1999,Medium,Tier 1,Supermarket Type1,2097.2700
3,FDX07,19.20,Regular,0.000000,Fruits and Vegetables,182.0950,OUT010,1998,NaN,Tier 3,Grocery Store,732.3800
4,NCD19,8.93,Low Fat,0.000000,Household,53.8614,OUT013,1987,High,Tier 3,Supermarket Type1,994.7052

In [47]:
test.head()

,Item_Identifier,Item_Weight,Item_Fat_Content,Item_Visibility,Item_Type,Item_MRP,Outlet_Identifier,Outlet_Establishment_Year,Outlet_Size,Outlet_Location_Type,Outlet_Type
0,FDW58,20.750,Low Fat,0.007565,Snack Foods,107.8622,OUT049,1999,Medium,Tier 1,Supermarket Type1
1,FDW14,8.300,reg,0.038428,Dairy,87.3198,OUT017,2007,NaN,Tier 2,Supermarket Type1
2,NCN55,14.600,Low Fat,0.099575,Others,241.7538,OUT010,1998,NaN,Tier 3,Grocery Store
3,FDQ58,7.315,Low Fat,0.015388,Snack Foods,155.0340,OUT017,2007,NaN,Tier 2,Supermarket Type1
4,FDY38,NaN,Regular,0.118599,Dairy,234.2300,OUT027,1985,Medium,Tier 3,Supermarket Type3

In [125]:
data = pd.concat([train,test],ignore_index=True)

/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:1: FutureWarning: Sorting because non-concatenation axis is not aligned. A future version
of pandas will change to not sort by default.

To accept the future behavior, pass 'sort=False'.

To retain the current behavior and silence the warning, pass 'sort=True'.

  """Entry point for launching an IPython kernel.

In [126]:
print(train.shape,test.shape,data.shape) # train and test datasets have variations in columns

(8523, 12) (5681, 11) (14204, 12)

In [127]:
data.head()

,Item_Fat_Content,Item_Identifier,Item_MRP,Item_Outlet_Sales,Item_Type,Item_Visibility,Item_Weight,Outlet_Establishment_Year,Outlet_Identifier,Outlet_Location_Type,Outlet_Size,Outlet_Type
0,Low Fat,FDA15,249.8092,3735.1380,Dairy,0.016047,9.30,1999,OUT049,Tier 1,Medium,Supermarket Type1
1,Regular,DRC01,48.2692,443.4228,Soft Drinks,0.019278,5.92,2009,OUT018,Tier 3,Medium,Supermarket Type2
2,Low Fat,FDN15,141.6180,2097.2700,Meat,0.016760,17.50,1999,OUT049,Tier 1,Medium,Supermarket Type1
3,Regular,FDX07,182.0950,732.3800,Fruits and Vegetables,0.000000,19.20,1998,OUT010,Tier 3,NaN,Grocery Store
4,Low Fat,NCD19,53.8614,994.7052,Household,0.000000,8.93,1987,OUT013,Tier 3,High,Supermarket Type1

# Exploratory Data Analysis

In [51]:
data.isnull().sum()

Item_Fat_Content                0
Item_Identifier                 0
Item_MRP                        0
Item_Outlet_Sales            5681
Item_Type                       0
Item_Visibility                 0
Item_Weight                  2439
Outlet_Establishment_Year       0
Outlet_Identifier               0
Outlet_Location_Type            0
Outlet_Size                  4016
Outlet_Type                     0
dtype: int64

In [52]:
data.nunique()

Item_Fat_Content                 5
Item_Identifier               1559
Item_MRP                      8052
Item_Outlet_Sales             3493
Item_Type                       16
Item_Visibility              13006
Item_Weight                    415
Outlet_Establishment_Year        9
Outlet_Identifier               10
Outlet_Location_Type             3
Outlet_Size                      3
Outlet_Type                      4
dtype: int64

In [76]:
data.describe()

,Item_MRP,Item_Outlet_Sales,Item_Visibility,Item_Weight,Outlet_Establishment_Year
count,14204.000000,8523.000000,14204.000000,14204.000000,14204.000000
mean,141.004977,2181.288914,0.065953,12.792854,1997.830681
std,62.086938,1706.499616,0.051459,4.234226,8.371664
min,31.290000,33.290000,0.000000,4.555000,1985.000000
25%,94.012000,834.247400,0.027036,9.300000,1987.000000
50%,142.247000,1794.331000,0.054021,12.792854,1999.000000
75%,185.855600,3101.296400,0.094037,16.000000,2004.000000
max,266.888400,13086.964800,0.328391,21.350000,2009.000000

In [53]:
data.groupby('Item_Fat_Content').count()

,Item_Identifier,Item_MRP,Item_Outlet_Sales,Item_Type,Item_Visibility,Item_Weight,Outlet_Establishment_Year,Outlet_Identifier,Outlet_Location_Type,Outlet_Size,Outlet_Type
Item_Fat_Content,,,,,,,,,,,
LF,522,522,316,522,522,429,522,522,522,378,522
Low Fat,8485,8485,5089,8485,8485,7045,8485,8485,8485,6082,8485
Regular,4824,4824,2889,4824,4824,3987,4824,4824,4824,3457,4824
low fat,178,178,112,178,178,133,178,178,178,130,178
reg,195,195,117,195,195,171,195,195,195,141,195

In [74]:
data.groupby('Outlet_Type').count()

,Item_Fat_Content,Item_Identifier,Item_MRP,Item_Outlet_Sales,Item_Type,Item_Visibility,Item_Weight,Outlet_Establishment_Year,Outlet_Identifier,Outlet_Location_Type,Outlet_Size
Outlet_Type,,,,,,,,,,,
Grocery Store,1805,1805,1805,1083,1805,1805,1805,1805,1805,1805,1805
Supermarket Type1,9294,9294,9294,5577,9294,9294,9294,9294,9294,9294,9294
Supermarket Type2,1546,1546,1546,928,1546,1546,1546,1546,1546,1546,1546
Supermarket Type3,1559,1559,1559,935,1559,1559,1559,1559,1559,1559,1559

In [54]:
# Item_Fat_Content has some mis-named columns like low fat as lf,Low Fat etc.
# Outlet_Type has similar values in type2 and type 3.
# In the item_visibility column in data.describe(), the min value is 0 which is logically not possible if the 
# product is being sold. we will have to treat this error.

# Missing values treatment

In [55]:
# treating missing values.
# Item_Outlet_Sales is our target variable. we will treat missing values because the missing rows are from test 
# data set which does not have Item_Outlet_Sales column.
# we will treat Item_Weight and Outlet_Size

In [56]:
# 1) Item_Weight: this will be treated by filling mean vlaues in the column because this is a continuous column.
data['Item_Weight'].fillna((data['Item_Weight'].mean()), inplace=True)

In [57]:
data['Item_Weight'].isnull().sum()

0

In [65]:
# 2) Outlet_Size:this will be treated by using mode beacause this a categorical column.
data.groupby('Outlet_Size').count()

,Item_Fat_Content,Item_Identifier,Item_MRP,Item_Outlet_Sales,Item_Type,Item_Visibility,Item_Weight,Outlet_Establishment_Year,Outlet_Identifier,Outlet_Location_Type,Outlet_Type
Outlet_Size,,,,,,,,,,,
High,1553,1553,1553,932,1553,1553,1553,1553,1553,1553,1553
Medium,8671,8671,8671,5203,8671,8671,8671,8671,8671,8671,8671
Small,3980,3980,3980,2388,3980,3980,3980,3980,3980,3980,3980

In [66]:
data['Outlet_Size'].fillna(data['Outlet_Size'].mode(), inplace=True)

In [69]:
data['Outlet_Size'].isnull().sum()

0

In [70]:
data.isnull().sum()

Item_Fat_Content                0
Item_Identifier                 0
Item_MRP                        0
Item_Outlet_Sales            5681
Item_Type                       0
Item_Visibility                 0
Item_Weight                     0
Outlet_Establishment_Year       0
Outlet_Identifier               0
Outlet_Location_Type            0
Outlet_Size                     0
Outlet_Type                     0
dtype: int64

In [71]:
# now the data has been cleaned.

# Feature Selection/ Engineering

In [73]:
# During eda we found that supermarket type 2 and 3 have similar values. we will check whether they both have 
# similar sales.
data.pivot_table(values='Item_Outlet_Sales',index='Outlet_Type')
# supermarket type 2 and type 3 does not have same sales so we will leave them asitis.

                   Item_Outlet_Sales
Outlet_Type
Grocery Store             339.828500
Supermarket Type1        2316.181148
Supermarket Type2        1995.498739
Supermarket Type3        3694.038558

In [128]:
# Treating Item_Visibility error which showed 'zero as minimun value is data.describe()' by imputing the mean
# visibility of that product.
zero_values = (data['Item_Visibility'] == 0)

In [129]:
print('Number of 0 values initially: %d'%sum(zero_values))

Number of 0 values initially: 879

In [130]:
visibility_avg = data.pivot_table(values='Item_Visibility', index='Item_Identifier')
# using Item_Identifier to specify the average visibility of the product.

In [131]:
visibility_avg.head()

                 Item_Visibility
Item_Identifier
DRA12                   0.034938
DRA24                   0.045646
DRA59                   0.133384
DRB01                   0.079736
DRB13                   0.006799

In [135]:

data.loc[zero_values,'Item_Visibility'] =data.loc[zero_values,'Item_Identifier'].apply(lambda x: visibility_avg.loc[x])

In [137]:
zero_values = (data['Item_Visibility'] == 0)

In [140]:
zero_values.value_counts()
# now the zeros has been treated.

False    14204
Name: Item_Visibility, dtype: int64